@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bitcount+Prop+Single:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #121212;
  --foreground: #ffffff;
  user-select: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
@theme inline {
  --color-primary-background: var(--background);
  --color-primary-text: var(--foreground);
  --color-disabled: #b0b0b0;
  --color-success: #4caf50;
  --color-warning: #ffc107;
  --color-error: #ff5252;
  --color-info: #2196f3;
  --color-secondary-text: #e0e0e0;
  --color-primary-button: #00c4b3;
  --color-primary-hover-state: #009688;
  --color-primary-active-state: #006d63;
  --color-secondary-button: #a45cff;
  --color-secondary-hover-state: #8d39ff;
  --color-borders: #2d2d2d;
  --color-for-dark-surface: #383838;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-roboto: "Roboto", sans-serif;
  --font-bitcount: "Bitcount Prop Single", system-ui;
}

body {
  @apply font-bitcount w-dvw h-dvh p-0;
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  margin: 0;
}

ul {
  @apply list-disc pl-4;
}

li {
  @apply text-gray-400 font-light;
}

.center {
  @apply flex justify-center items-center w-full h-dvh;
}

.form {
  @apply flex flex-col gap-2 border border-borders p-4;
}

.input {
  /* Responsive modern design input */
  @apply p-4 mt-1 rounded-lg border border-borders focus:outline-none focus:ring-2 focus:ring-borders;
}

.btn {
  @apply cursor-pointer p-2 font-semibold border-borders rounded-lg bg-primary-button text-primary-text hover:bg-primary-active-state focus:outline-none focus:ring-2 focus:ring-borders;
}

.title {
  @apply text-xl font-black mb-2 text-center text-secondary-text;
}

.link {
  @apply cursor-pointer text-secondary-text hover:underline text-center text-nowrap;
}

.error {
  @apply text-red-500;
}

.nav {
  @apply z-50 fixed top-0 left-0 right-0 h-20 bg-primary-background border-borders border shadow flex p-4 items-center justify-between;
}

.btn-outline {
  @apply transition hover:shadow hover:ring-1 ring-borders cursor-pointer text-sm p-2 font-roboto border-borders border shadow rounded-lg bg-transparent text-primary-text font-extralight  focus:outline-none focus:ring-2 focus:ring-borders;
}

.nav-menu {
  @apply absolute rounded-lg backdrop-blur-xl flex flex-col justify-start gap-2 min-w-fit top-2 right-0 p-6 border-borders bg-primary-background/40 border font-light;
}

.nav-item {
  @apply cursor-pointer flex gap-2 items-center;
}

.nav-link {
  @apply text-nowrap font-light hover:text-secondary-button text-lg;
}

.icon {
  @apply size-6;
}

.card {
  @apply transition hover:shadow-lg hover:ring-1 ring-borders cursor-pointer flex flex-col gap-2 border border-borders p-4 rounded-lg shadow overflow-scroll w-full md:w-56 lg:w-72 h-[30rem] justify-between;
}

.history-card {
  @apply transition hover:shadow-lg hover:ring-1 ring-borders cursor-pointer flex flex-col gap-2 border border-borders p-4 rounded-lg shadow overflow-scroll w-full md:min-w-56 lg:max-w-72 lg:min-w-72  h-[30rem] justify-between;
}

.create-character-container {
  @apply w-full select-none pt-32 p-6 flex flex-col md:flex-row justify-center gap-5;
}

.create-character-form {
  @apply flex flex-col gap-6 items-start w-full md:w-1/2;
}
